.navbar{
    color: #fff;
}
.logo{
    padding-right: 13px;
}
.center{
    margin: 0 auto;
    border-radius: 50px;
    padding-top: 5px;
}
.card{
    padding: 15px;
}
.user-style{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding-top: 20px;
}
.form{
    margin-top: 15px;
    margin-bottom: 5px;
}
.search-input{
    margin-bottom: 10px;
    width: 100%;
}
.close{
    outline: none;
}